<% wrap_layout :layout do %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </div>
  <%= javascript_include_tag "jquery-2.1.4.min" %>
  <%= javascript_include_tag "mfn.menu" %>
  <%= javascript_include_tag "jquery.plugins" %>
  <%= javascript_include_tag "jquery.jplayer.min" %>
  <%= javascript_include_tag "animations" %>
  <%= javascript_include_tag "scripts" %>
<% end %>
