<% wrap_layout :layout do %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </div>
  <!-- JS -->
  <%= javascript_include_tag "jquery-2.1.4.min" %>
  <%= javascript_include_tag "mfn.menu" %>
  <%= javascript_include_tag "jquery.plugins" %>
  <%= javascript_include_tag "jquery.jplayer.min" %>
  <%= javascript_include_tag "animations" %>
  <%= javascript_include_tag "scripts" %>
  <script src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
  <%= javascript_include_tag "email" %>
  <script>
    function revslider_showDoubleJqueryError(sliderID) {
      var errorMessage =
        'Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.';
      errorMessage +=
        '<br> This includes make eliminates the revolution slider libraries, and make it not work.';
      errorMessage +=
        '<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option: <strong><b>Put JS Includes To Body</b></strong> option to true.';
      errorMessage +=
        '<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.';
      errorMessage =
        "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + '</span>';
      jQuery(sliderID).show().html(errorMessage);
    }

    var tpj = jQuery;
    var revapi1;
    tpj(document).ready(function() {
      if (tpj('#rev_slider_1_2').revolution == undefined) {
        revslider_showDoubleJqueryError('#rev_slider_1_2');
      } else {
        revapi1 = tpj('#rev_slider_1_2').show().revolution({
          sliderType: 'standard',
          sliderLayout: 'auto',
          dottedOverlay: 'none',
          delay: 9000,
          navigation: {
            onHoverStop: 'off',
          },
          visibilityLevels: [1240, 1024, 778, 480],
          gridwidth: 1240,
          gridheight: 900,
          lazyType: 'none',
          shadow: 0,
          spinner: 'sipnner3',
          stopLoop: 'off',
          stopAfterLoops: -1,
          stopAtSlide: -1,
          shuffle: 'off',
          autoHeight: 'off',
          disableProgressBar: 'on',
          hideThumbsOnMobile: 'off',
          hideSliderAtLimit: 0,
          hideCaptionAtLimit: 0,
          hideAllCaptionAtLilmit: 0,
          debugMode: false,
          fallbacks: {
            simplifyAll: 'off',
            nextSlideOnWindowFocus: 'off',
            disableFocusListener: false,
          },
        });
      }
    });
  </script>
<% end %>
